<!DOCTYPE html>
<html>
<head>
<title>WebRTC Reference App</title>

<meta http-equiv="X-UA-Compatible" content="chrome=1"/>

<link rel="canonical" href="{{ room_link }}"/>
<link rel="stylesheet" href="css/main.css" />

<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<!-- Load the polyfill to switch-hit between Chrome and Firefox -->
<script src="/js/adapter.js"></script>
<script src="/js/main.js"></script>

</head>
<body>
<script type="text/javascript">
  var errorMessages = {{ error_messages }};
  var channelToken = '{{ token }}';
  var me = '{{ me }}';
  var roomKey = '{{ room_key }}';
  var roomLink = '{{ room_link }}';
  var initiator = {{ initiator }};
  var pcConfig = {{ pc_config | safe }};
  var pcConstraints = {{ pc_constraints | safe }};
  var offerConstraints = {{ offer_constraints | safe }};
  var mediaConstraints = {{ media_constraints | safe }};
  var turnUrl = '{{ turn_url }}';
  var stereo = {{ stereo }};
  var audio_send_codec = '{{ audio_send_codec }}';
  var audio_receive_codec = '{{ audio_receive_codec }}';
  setTimeout(initialize, 1);
</script>
<div id="container" ondblclick="enterFullScreen()">
  <div id="card">
    <div id="local">
      <video id="localVideo" autoplay="autoplay" muted="true"/>
    </div>
    <div id="remote">
      <video id="remoteVideo" autoplay="autoplay">
      </video>
      <div id="mini">
        <video id="miniVideo" autoplay="autoplay" muted="true"/>
      </div>
    </div>
  </div>
</div>
</body>
<footer id="status">
</footer>
<div id="infoDiv"></div>
</html>